<h1>Welcome {{ full_name }}!</h1>

<p>your email:<code>{{ email.to[0].address }}</code></p>

<p>
    <a href="#">Confirmation Link here: {{ confirmation_link }}</a>
    <a href="#">appointment date: {{ appointment_date }}</a>
</p>