<div class="page-heading">
    <h2>Records</h2>
</div>
<div class="table-controls d-flex justify-content-between align-items-center">
    <div class="search-wrapper">
        <input type="text" id="search" class="form-control" placeholder="Search...">
        <i class="bi bi-search"></i>
    </div>
    <div class="table-filter">
        <ul>
            <li class="active">Today</li>
            <li>Tomorrow</li>
            <li>This Week</li>
            <li>Overdue</li>
            <li>Select Period</li>
        </ul>
    </div>

</div>

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Full Name</th>
          <th scope="col">Company</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
    <tbody>
    <tr>
        <td>03-12-23</td>
        <td><a href="#" class="appointment-edit"  data-bs-toggle="modal" data-bs-target="#newAppointmentModal">Bugs Bunny</a></td>
        <td>ACME Company</td>
        <td>test@test.com</td>
        <td>985-5654-515</td>
    </tr>
    <tr>
        <td>03-12-23</td>
        <td><a href="#"><a href="#" class="appointment-edit"  data-bs-toggle="modal" data-bs-target="#newAppointmentModal">Maggio, Tanner J., III</td>
        <td>ACME Company</td>
        <td>test@test.com</td>
        <td>985-5654-515</td>
    </tr>
    <tr>
        <td>03-12-23</td>
        <td><a href="#" class="appointment-edit"  data-bs-toggle="modal" data-bs-target="#newAppointmentModal">Willms, Etha F., V</td>
        <td>ACME Company</td>
        <td>test@test.com</td>
        <td>985-5654-515</td>
    </tr>
    <tr>
        <td>03-12-23</td>
        <td><a href="#" class="appointment-edit"  data-bs-toggle="modal" data-bs-target="#newAppointmentModal">Bugs Bunny </td>
        <td>ACME Company</td>
        <td>test@test.com</td>
        <td>985-5654-515</td>
    </tr>
    </tbody>
</table>

<div id="pagination-container" class="mt-5 d-flex justify-content-center align-items-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    {# {{ knp_pagination_render(appointment_lists) }} #}
</div>

