{% extends 'base.html.twig' %}
{% block title %}Edit Crew{% endblock %}

{% block contents %}
<div class="crew">
    {{ include('crew/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}