{% extends 'base.html.twig' %}

{% block title %}Crew
{% endblock %}

{% block contents %}
	{% include 'crew/widgets/crew_header.html.twig' %}

	<div class="widget-column col-md-8">
		{% include 'crew/widgets/crew_info.html.twig' %}
	</div>

	<div class="widget-column col-md-4">

		{% include 'crew/widgets/crew_active_appointment.html.twig' %}
		{% include 'crew/widgets/crew_medical_history.html.twig' %}
{#		{% include 'crew/widgets/crew_exam.html.twig' %}#}
{#		{% include 'crew/widgets/crew_files.html.twig' %}#}

	</div>

{% endblock %}

