$font-family-main: 'Inter', sans-serif;
$font-family-secondary: 'Inter', sans-serif;
$color-default: #1b1b1b;
$color-main: #00558a;
$color-link: #00558a;
$box-shadow: 5px 6px 8.4px 1.6px rgba(0, 0, 0, 0.04);
$border-radius: 8px;