@import 'variables';

.page-heading {
    font-size:32px;
    margin-bottom:30px;
}

.dashboard-wrapper {
    position:relative;
    margin-left:260px;
    margin-bottom:80px;
    top:70px;
    transition: 100ms;
}

.dashboard-content {
    margin:8px 16px;

    .widget {

        .btn-edit {
            font-size: 14px;
            border-radius: 4px;
            background-color: #fff;
            color: #4d4d4d;
            border: 0;
            padding:0;
        }

        &.sticky-top {
            top:102px;
        }
        
        &.main {
            .widget-heading {
                background-color: lighten($color-main, 70%);
               
            }
        }

        .widget-wrapper {
            background-color: #fff;
            border-radius: $border-radius;
            border: 1px solid #dbe3ea;
            box-shadow: 0 3px 4px 0 #00000008;

            .widget-heading {
                border-bottom: 1px solid #dbe3ea;
                align-items: center;
                justify-content:space-between;
                display:flex;
                padding: $padding-default;

                .breadcrumb {
                    margin-bottom:0;
                    font-size: 12px;

                    a {
                        color: $color-default;
                        text-decoration: none;
                        font-weight: 400;
                    }

                }

   

                h1 {
                    font-size: 16px;
                    margin:0;
                }
            }

            .widget-body {
                padding: $padding-default;

                .form-section {
                    &.accordion-item {
                        border:0;
                    }
                    .accordion-button {
                        width: auto;

                        &::after {
                            margin-left: 0.8rem;
                            scale:0.8;
                        }
                    }
                }

            }

            .list-group-item {
                a {
                    color: $color-default;
                }


            }
        }
    }
}

.table-controls {
    margin-bottom: 20px;

    .dropdown {
        &:not(:last-child) {
            margin-right: 10px;
        }

        [data-bs-toggle="dropdown"] {
            &.show {
                background-color: $color-main;
                color:#fff;
            }
        }

        .dropdown-menu {
            padding: 15px;
            font-size: 14px;
            min-width: 240px;

            .filter-reset {
                color: $color-main;
                text-decoration: none;
            }

            .form-check-input {
                margin-right:5px;
            }

            ul{
                li {
                    list-style-type: none;
                    margin-bottom:5px;
                }
            }
        }
    }   

    .btn-table-control {
        font-size: 13px;
        border-radius: $border-radius;
        background-color: #fff;
        color: $color-default;
        border: 1px solid $color-default;
    }   
}

.table-filter {

    ul {
        padding:0;
        margin:0;

        li {
            list-style-type: none;
            display:inline-block;
            margin:0 10px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
        }

        .active {
            border-radius: $border-radius;
            color: #0d68c5;
            background-color: #eff6ff;
            padding:10px 30px;
        }
    }
}

.searchbar-top {
    width: 100%;
    max-width: 700px;

    .search-wrapper {
        max-width: 100%;
        width: 100%;
    }
}

.search-wrapper {
    position: relative;
    max-width: 320px;
    width: 100%;
    i {
        position:absolute;
        right: 15px;
        top: 50%;
        transform:translateY(-50%);
    }
}

.status-group-wrapper {
    margin-bottom: 30px;
    .btn {
        border-color: #fff;
        background-color: #edf1f0;
        color: $color-default;
        padding:12px 24px;
    }
    .btn-check:checked + .btn {
        border-color: #fff;
        background-color:$color-main;
    }

    .btn-check + .btn:hover {
        background-color: darken(#edf1f0, 5%);
        border-color: #fff;
        color: $color-main;
    }
}

.badge {
    font-weight: 400;
    font-size: 13px;
}

.appointment-edit {
    font-weight: 700;
    color: $color-main;
}

.crew-heading {
    margin-bottom: 40px;

    h1 {
        font-size: 28px;
        text-transform: uppercase;
        color: $color-main;
    }
}

.right-info {

    .crew-avatar {
        margin-bottom: 20px;
        position: relative;

        .dropdown {
            position: absolute;
            right:0;
            top:0;
        }
    }
}

.pagination {

    .page-link {
        color: $color-main;
    }
    .page-link.active, .active > .page-link {
        background-color: $color-main;
        color: #fff;
    }

}

.avatar-caption {
    margin-top:10px;
    a {
        color: $color-main;

    }
}

.page-section {
    &:not(:last-child) {
        margin-bottom: 60px;
        border-bottom: 1px solid #eee;
        padding-bottom: 60px;
    }
}

.table-heading {
    h3 {
        font-size: 21px;
        background-color: #edfaff;
        border: 1px solid #f9f9f9;
        padding: 15px;
    }
}

.table {
    margin-bottom:0;
    a {
        color: $color-default;
    }
}

.widget-column {
    margin-top:0;
    .widget {
        margin-top: 1.5rem;
    }
}


#calendar {
    a {
        color: $color-default;
    }
}

.fc .fc-toolbar-title {
    font-size: 16px;
}