@import 'variables';

.page-heading {
    font-size:32px;
}

.dashboard-wrapper {
    position:relative;
    margin-left:260px;
}

.dashboard-content {
    background-color: #fff;
    margin:30px;
    padding: 45px;
    border-radius: $border-radius;
}

.table-controls {
    margin: 40px 0;
}

.table-filter {

    ul {
        padding:0;
        margin:0;

        li {
            list-style-type: none;
            display:inline-block;
            margin:0 10px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }
        }

        .active {
            border-radius: $border-radius;

            color: #0d68c5;
            background-color: #eff6ff;
            padding:10px 30px;
        }
    }
}

.search-wrapper {
    position: relative;
    max-width: 320px;
    width: 100%;
    i {
        position:absolute;
        right: 15px;
        top: 50%;
        transform:translateY(-50%);
    }
}

.appointment-edit {
    font-weight: 700;
    color: $color-main;
}

.crew-heading {
    margin-bottom: 40px;
    
    h1 {
        font-size: 28px;
        text-transform: uppercase;
        color: $color-main;
    }
}

.right-info {
    border-left: 1px solid #eee;
    height: 100%;
    padding-left:45px;
    margin-left: 45px;

    .crew-avatar {
        margin-bottom: 20px;
        position: relative;

        .dropdown {
            position: absolute;
            right:0;
            top:0;
        }
    }
}

.pagination {

    .page-link {
        color: $color-main;
    }
    .page-link.active, .active > .page-link {
        background-color: $color-main;
        color: #fff;
    }

}