@import 'variables';

body {
    font-family: $font-family-main;
    color: $color-default;
    background-color: #edf5fd;

}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    font-family: $font-family-secondary;
}

label.form-label {
    font-family: $font-family-secondary;
    font-weight: 700;
    font-size:14px;
}

.form-control {
    color: $color-default;
    border: 1px solid #e8e8e8;
    padding: 12px;
    border-radius: $border-radius;
    transition: 200ms;

    &:focus {
        box-shadow: none;
        border-color: $color-default;
    }
}

.link {
    color: $color-link;
}

.btn-cta {
    font-family: $font-family-secondary;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: $border-radius;
    background-color: $color-main;
    border: 0;
    transition: 200ms;
    padding: 12px;
    
        &:hover, &:active {
            background-color: lighten($color-main, 10%) !important;
        }
}

.error-message {
    color: #ce482d;
    background-color: #ffefef;
    font-size: 14px;
    padding: 12px;
    margin:20px 0;

    i {
        padding-right:5px;
    }
}
