@import 'variables';

body {
    font-family: $font-family-main;
    color: $color-default;
    background-color: #edf5fd;
    font-size:14px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    font-family: $font-family-secondary;
}

label.form-label {
    font-family: $font-family-secondary;
    font-weight: 500;
    font-size:12px;
}
.form-select {
    padding: 8px 12px;
    font-size:14px;
    border-radius: $border-radius;
    color: $color-default;
    border: 1px solid #e8e8e8;
    &:focus {
        box-shadow: none;
        border-color: $color-default;
    }
}

.form-section {
    margin-bottom:30px;

    h3 {
        font-size: 16px;
        background-color:#f4f4f4;
        margin:0 15px 20px;
        padding: 15px;
    }
}

.tab-content {
    margin-top: 40px;
}
.form-control {
    color: $color-default;
    border: 1px solid #e8e8e8;
    padding: 8px 12px;
    font-size:14px;
    border-radius: $border-radius;
    transition: 200ms;

    &:focus {
        box-shadow: none;
        border-color: $color-default;
    }
}

.nav-underline {
    margin-bottom:30px;
}
.nav-underline .nav-link {
    color: $color-main;
    text-transform: uppercase;
    border-bottom-width: 8px;
    font-weight: 500;
}

.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
    border-bottom-color: $color-main;
    color: $color-main;
}

.link {
    color: $color-link;
}

.btn-cta {
    font-family: $font-family-secondary;
    font-weight: 700;
    font-size: 14px;
    border-radius: $border-radius;
    background-color: $color-main;
    border: 0;
    transition: 200ms;
    padding: 12px 34px;
    
        &:hover, &:active {
            background-color: lighten($color-main, 10%) !important;
        }
}

.error-message {
    color: #ce482d;
    background-color: #ffefef;
    font-size: 14px;
    padding: 12px;
    margin:20px 0;

    i {
        padding-right:5px;
    }
}

.modal-dialog  {
    .modal-body {
        padding: 30px;
    }


}
