@import 'variables';

.sidebar {
    width: 100%;
    max-width: 260px;
    padding: 0 20px;
    border-right: 1px solid #ffefef;
    background-color: #fff;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 2;
    bottom: 0;
    box-shadow: $box-shadow;

    .navbar-left {
        
        ul {
            padding:0;
            margin-top:30px;

            li {
                list-style-type: none;
                margin-bottom:10px;

                a {
                    text-decoration: none;
                    color: $color-default;
                    background-color: #fff;
                    display:block;
                    padding:12px;
                    border-radius: $border-radius;
      
                    i {
                        padding-right: 8px;
                    }

                    &:hover {
                        color: $color-main;
                    }

                    &.active {
                        background-color: $color-main;
                        color: #fff;
                    }
                }
            }

        }
    }
}