@import 'variables';


.topbar {
    background-color: #fff;
    border-bottom: 1px solid #dbe3ea;
    box-shadow: 0 10px 20px -10px #dde1ee;
    height: 70px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .logo {
        max-width: 180px;
        padding-left:12px;
  
    }

    .notifications {
        font-size:21px;
        border-right: 1px solid #d7d7d7;
        padding-right: 20px;
        margin-right: 20px;

        .notice {
            top: 7px;
            right: -5px;
        }
        i {
            position: relative;
        }
    }

    .avatar {
        width: 40px;
        margin-right:15px;

        img {
            border-radius: 12%;
        }
    }

    .profile-info {
        .name {
            font-weight: 700;
            display:block;
        }
    }

}