
<div class="widget">
    <div class="widget-wrapper">
        <div class="widget-heading appointment-heading">
            <div class="appointment-info">
                <h1>Timeline</h1>
            </div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Appointment ABC2341</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">TImeline</li>
                </ol>
            </nav>
        </div>
        <div class="widget-body">
            <div class="timeline-wrapper">
                <div class="timeline-group">
                    <div class="timeline-heading">
                        Feb 3, 2024
                    </div>
                    <div class="timeline-list">
                        <div class="timeline-item d-flex ">
                            <div class="time">
                                03:34 PM
                            </div>
                            <div class="timeline-icon mx-4 bg-secondary">
                                <i class="bi bi-calendar"></i>
                            </div>
                            <div class="timeline-description">
                                Appointment ABC2341 Created
                                <span class="d-block">By Admin</span>
                            </div>
                        </div>
                        <div class="timeline-item d-flex">
                            <div class="time">
                                03:34 PM
                            </div>
                            <div class="timeline-icon mx-4 bg-secondary">
                                <i class="bi bi-calendar"></i>
                            </div>
                            <div class="timeline-description">
                                Appointment ABC2341 Status Updated to In Progress
                                <span class="d-block">By Admin</span>
                            </div>
                        </div>
                        <div class="timeline-item d-flex ">
                            <div class="time">
                                03:34 PM
                            </div>
                            <div class="timeline-icon mx-4 bg-secondary">
                                <i class="bi bi-clipboard "></i>
                            </div>
                            <div class="timeline-description">
                                Xray Status Updated to In Progress
                                <span class="d-block">By Admin</span>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>