
<div class="widget">
    <div class="widget-wrapper">
        <div class="widget-heading">
            <h1><i class="bi bi-clock-history"></i> X-ray History</h1>
        </div>
        <div class="widget-body">
            <ul class="list-group exams-list">
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    <a href="#" >
                        Xray - 01-01-2023
                    </a>
                    <span>01-01-2023</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center " >
                    <a href="#">
                        Xray - 01-01-2022
                    </a>
                    <span>01-01-2022</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="#">
                        Xray - 01-01-2021
                    </a>
                    <span>01-01-2021</span>
                </li>
            </ul>

        </div>
    </div>
</div>