<div class="widget">
    <div class="widget-wrapper">
        <div class="widget-heading">
            <h1><i class="bi bi-file-earmark me-1"></i>Files</h1>
            <div class="crew-header-options">
                <button class="btn btn-cta-secondary" ><i class="bi bi-plus"></i>
                    Add File</button>
            </div>
        </div>
        <div class="widget-body">
            <ul class="list-group exams-list">
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    <a href="#" >
                        xray-test.scanned.jpg
                    </a>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center " >
                    <a href="#">
                        cbc-result-scanned.pdf
                    </a>

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="#">
                        xray-retake-scanned.jpg
                    </a>

                </li>
            </ul>
        </div>
    </div>
</div>