<div class="widget">
    <div class="widget-wrapper">
        <div class="widget-heading">
            <h1>Medical History</h1>
        </div>
        <div class="widget-body">
{#            <div class="table-controls d-flex justify-content-start align-items-center">#}

{#                <div class="controls-right d-flex">#}

{#                    <div class="dropdown">#}
{#                        <button class="btn btn-secondary btn-table-control dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">#}
{#                            <i class="bi bi-filter"></i>#}
{#                            Filter#}
{#                        </button>#}
{#                        <ul class="dropdown-menu p-1" style="">#}
{#                            <li>#}
{#                                <a class="dropdown-item active" href="/appointment/?dateFilter=today">Today</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a class="dropdown-item " href="/appointment/?dateFilter=tomorrow">Tomorrow</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a class="dropdown-item " href="/appointment/?dateFilter=next-week">Next-week</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a class="dropdown-item " href="/appointment/?dateFilter=overdue">Overdue</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}


{#                    <div class="dropdown">#}
{#                        <button class="btn btn-secondary btn-table-control dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">#}
{#                            <i class="bi bi-filter"></i>#}
{#                            Search Filter#}
{#                        </button>#}
{#                        <div class="dropdown-menu">#}
{#                            <form name="appointment_search" method="get">#}
{#                                <div class="d-flex flex-column">#}
{#                                    <div class="mb-3">#}
{#                                        <label for="appointment_search_search" class="form-label">Search</label><input type="text" id="appointment_search_search" name="appointment_search[search]" placeholder="Search..." class="form-control">#}
{#                                    </div>#}
{#                                    <div class="mb-3">#}
{#                                        <label for="appointment_search_startDate" class="form-label">Start date</label><input type="date" id="appointment_search_startDate" name="appointment_search[startDate]" class="form-control">#}
{#                                    </div>#}
{#                                    <div class="mb-3">#}
{#                                        <label for="appointment_search_endDate" class="form-label">End date</label><input type="date" id="appointment_search_endDate" name="appointment_search[endDate]" class="form-control">#}
{#                                    </div>#}
{#                                    <fieldset class="mb-3">#}
{#                                        <legend class="col-form-label required">Appointment status</legend>#}
{#                                        <div id="appointment_search_appointmentStatus">#}
{#                                            <div class="form-check"><input type="checkbox" id="appointment_search_appointmentStatus_0" name="appointment_search[appointmentStatus][]" class="form-check-input" value="pending" checked="checked">#}
{#                                                <label class="form-check-label" for="appointment_search_appointmentStatus_0">Pending</label>#}
{#                                            </div>#}
{#                                            <div class="form-check"><input type="checkbox" id="appointment_search_appointmentStatus_1" name="appointment_search[appointmentStatus][]" class="form-check-input" value="confirmed" checked="checked">#}
{#                                                <label class="form-check-label" for="appointment_search_appointmentStatus_1">Confirmed</label>#}
{#                                            </div>#}
{#                                            <div class="form-check"><input type="checkbox" id="appointment_search_appointmentStatus_2" name="appointment_search[appointmentStatus][]" class="form-check-input" value="checked_in">#}
{#                                                <label class="form-check-label" for="appointment_search_appointmentStatus_2">Checked In</label>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </fieldset>#}
{#                                    <button class="btn btn-primary btn-cta shadow-sm">Search</button>#}
{#                                </div>#}

{#                                <input type="hidden" id="appointment_search__token" name="appointment_search[_token]" value="b17c7b67e507dc4807b48d051.OOv2LfwYNI-e446GrESOqBm4-1lEfxAraWLsCaNc9pU.DZi1d8l-UPrnjbv07Qvr5W-BgQMcM2JGHTikaOJvqdh6uoJ5lSlF_-3Xyw"></form>#}

{#                        </div>#}
{#                    </div>#}

{#                    <div class="dropdown">#}
{#                        <button class="btn btn-secondary btn-table-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                            <i class="bi bi-three-dots"></i>#}
{#                        </button>#}
{#                        <ul class="dropdown-menu p-1" style="">#}
{#                            <li>#}
{#                                <a class="dropdown-item" href="#">Export Filter Results...</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a class="dropdown-item" href="#">Data Import...</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a class="dropdown-item" href="#">Merge Duplicates</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            {% if medicalHistories is defined and medicalHistories|length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover table-bordered  align-middle">
                    <thead>
                    <tr>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for crew in medicalHistories %}
                        {% for medical_history in crew.medicalHistory %}

                            <tr>
                                <td>{{ medical_history.startDate|date('Y-m-d') }}</td>
                                <td>{{ medical_history.endDate|date('Y-m-d') }}</td>
                                <td>{{ medical_history.status|medicalHistoryStatusToString }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <span class="d-block text-center">No items to show</span>
            {% endif %}
        </div>
    </div>
</div>