<div class="widget">
    <div class="widget-wrapper">
        <div class="widget-heading">
            <h1>Exams</h1>
        </div>
        <div class="widget-body">
            <span class="d-block text-center">No items to show</span>
        </div>
    </div>
</div>