<div class="widget">
    <div class="widget-wrapper crew-header">
        <div class="widget-body">
            <div class="crew-header-wrapper d-flex justify-content-between">
                <div class="crew-header-info d-flex align-items-center">
                    <div class="crew-avatar">
                        {% if vich_uploader_asset(crew) is not null %}
                            <img class="img-fluid" src="{{ vich_uploader_asset(crew) }}"/>
                        {% else %}
                            <img class="img-fluid" src="https://placehold.co/80x80/black/white"/>
                        {% endif %}
                    </div>
                    <div class="crew-info">
                        <h1>
                            {{ crew.getFullName() }}
                            <div class="crew-status d-inline-block mx-2">
                                <span class="badge rounded-pill text-bg-primary">In Progress</span>
                            </div>
                        </h1>
                        <span>{{ crew.company }} - {{ crew.Position }}</span>
                    </div>
                </div>
                <div class="crew-header-options d-flex align-items-start">
                    <button class="btn btn-primary btn-cta" data-bs-toggle="modal" data-bs-target="#newAppointmentModal">
                        <i class="bi bi-plus"></i>
                        Add New Appointment</button>
                    	<div class="dropdown">
                            <button class="btn btn-secondary btn-control" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <ul class="dropdown-menu p-1">
                                <li>
                                    <a class="dropdown-item " href="/appointment/?dateFilter=tomorrow">Export All Files</a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>