<div class="widget">
    <div class="widget-wrapper">
        <div class="widget-heading">
            <h1>Past Appointments</h1>
        </div>
        <div class="widget-body">
            {% if medicalHistories is defined and medicalHistories|length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover table-bordered  align-middle">
                    <thead>
                    <tr>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for crew in medicalHistories %}
                        {% for medical_history in crew.medicalHistory %}

                            <tr>
                                <td>{{ medical_history.startDate|date('Y-m-d') }}</td>
                                <td>{{ medical_history.endDate|date('Y-m-d') }}</td>
                                <td>{{ medical_history.status|medicalHistoryStatusToString }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <span class="d-block text-center">No items to show</span>
            {% endif %}
        </div>
    </div>
</div>

	<div class="widget">
			<div class="widget-wrapper">
				<div class="widget-heading appointment-heading">
					<div class="appointment-info">
						<h1>Timeline</h1>
					</div>
					
				</div>
				<div class="widget-body">
					<div class="timeline-wrapper">
						<div class="timeline-group">
							<div class="timeline-heading">
								Feb 3, 2024
							</div>
							<div class="timeline-list">
								<div class="timeline-item d-flex align-items-center">
									<div class="time">
										03:34 PM
									</div>
									<div class="timeline-icon mx-4 bg-secondary">
										<i class="bi bi-calendar"></i>
									</div>
									<div class="timeline-description">
										Appointment ABC2341 Created
										<span class="d-block">By Admin</span>
									</div>
								</div>
								<div class="timeline-item d-flex align-items-center">
									<div class="time">
										03:34 PM
									</div>
									<div class="timeline-icon mx-4 bg-secondary">
										<i class="bi bi-calendar"></i>
									</div>
									<div class="timeline-description">
										Appointment ABC2341 Status Updated to In Progress
										<span class="d-block">By Admin</span>
									</div>
								</div>
								<div class="timeline-item d-flex align-items-center">
									<div class="time">
										03:34 PM
									</div>
									<div class="timeline-icon mx-4 bg-secondary">
										<i class="bi bi-clipboard "></i>
									</div>
									<div class="timeline-description">
										Xray Status Updated to In Progress
										<span class="d-block">By Admin</span>
									</div>
								</div>

							</div>


						</div>
					</div>
				</div>
			</div>
		</div>