{% form_theme form 'bootstrap_5_layout.html.twig' %}
<!-- Modal -->
<div class="modal fade" id="newAppointmentModal" tabindex="-1" aria-labelledby="newAppointmentModal" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Appointment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
{#                <div class="error-message">#}
{#                    <i class="bi bi-exclamation-triangle-fill"></i> Sample Error Message#}
{#                </div>#}
                    {{ form_widget(form) }}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="physical">
                        <label class="form-check-label" for="physical">Physical</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="chestXray">
                        <label class="form-check-label" for="chestXray">Chest X-ray</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="rpr">
                        <label class="form-check-label" for="rpr">RPR</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="urinalysis">
                        <label class="form-check-label" for="urinalysis">Urinalysis</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="bloodChemistry">
                        <label class="form-check-label" for="bloodChemistry">Blood Chemistry</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="cbc">
                        <label class="form-check-label" for="cbc">CBC</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="hiv">
                        <label class="form-check-label" for="hiv">HIV</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="hbsag">
                        <label class="form-check-label" for="hbsag">HbsAG</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="hepa">
                        <label class="form-check-label" for="hepa">HepA</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="riba">
                        <label class="form-check-label" for="riba">Riba</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="stoolCulture">
                        <label class="form-check-label" for="stoolCulture">Stool Culture</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="ovaAndParasites">
                        <label class="form-check-label" for="ovaAndParasites">Ova and Parasites</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="pregnancyTest">
                        <label class="form-check-label" for="pregnancyTest">Pregnancy Test</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="audiometry">
                        <label class="form-check-label" for="audiometry">Audiometry</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="visualAcuity">
                        <label class="form-check-label" for="visualAcuity">Visual Acuity</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="ekg">
                        <label class="form-check-label" for="ekg">EKG</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="psa">
                        <label class="form-check-label" for="psa">PSA</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="vaccines">
                        <label class="form-check-label" for="vaccines">Vaccines</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="drugs">
                        <label class="form-check-label" for="drugs">Drugs</label>
                    </div>
                <button type="submit" class="shadow-sm   btn btn-primary btn-cta">Save Appointment</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>