{% form_theme form 'bootstrap_5_layout.html.twig' %}
<!-- Modal -->
<div class="modal fade" id="newAppointmentModal" tabindex="-1" aria-labelledby="newAppointmentModal" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Appointment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                {{ form_start(form) }}
                <button type="button" class="shadow-sm   btn btn-primary btn-cta">Save Appointment</button>
{#                <div class="error-message">#}
{#                    <i class="bi bi-exclamation-triangle-fill"></i> Sample Error Message#}
{#                </div>#}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>