{% extends 'base.html.twig' %}

{% block title %}Appointments{% endblock %}

{% block contents %}
    <div class="appointments p-3">

        <h1 class="page-heading">You have Confirmed your appointment</h1>

    </div>
{% endblock %}
