{% extends 'base.html.twig' %}

{% block title %}Hello AppointmentController!{% endblock %}

{% block contents %}

    <div class="card p-5">

        <h1>Create new Appointment</h1>

        {{ include('appointment/_form.html.twig') }}

        <a href="{{ path('appointment_bulk_create') }}">Bulk create</a>
    </div>

    <div class="card p-5">
        {{ include('appointment/list.html.twig') }}
    </div>
{% endblock %}
