{% extends 'base.html.twig' %}

{% block title %}Appointments{% endblock %}

{% block contents %}
    <div class="appointments p-3">

        <h1 class="page-heading">Appointments</h1>

        <div class="add-appointment-wrapper d-flex justify-content-end">
            <a href="{{ path('appointment_create') }}" class="btn btn-primary btn-cta">Add New Appointment</a>
        </div>
        {{ include('appointment/list.html.twig') }}

        {{ include('appointment/appointmentform.html.twig') }}
      
    </div>
{% endblock %}
