{% extends 'base.html.twig' %}

{% block title %}Add Appointments{% endblock %}

{% block contents %}
    {{ include('appointment/_form.html.twig') }}
{#    {{ include('appointment/_bulk_upload_form.html.twig') }}#}

{#    <a href="{{ path('appointment_main') }}">back to list</a>#}
{% endblock %}
