{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
    this is where the website can be placed

    <a href="{{ path('app_login') }}">login link</a>
{% endblock %}
