<div class="topbar d-flex justify-content-between align-items-center">
    <div class="logo d-flex align-items-center">
        <div class="menu-toggle">
            <i class="bi bi-list"></i> 
        </div>
       <img src="https://d1io3yog0oux5.cloudfront.net/_114e7d3598fccd562eaf175af24810dc/nclhltd/files/theme/images/logo.svg" alt="NCLH logo" class="img-fluid">
    </div>
    <div class="searchbar-top"></div>
    <div class="topbar-info d-flex justify-content-between align-items-center">
        <div class="notifications">
            <i class="bi bi-bell">
                <span class="notice position-absolute translate-middle p-1 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                  </span>
            </i>
           
        </div>
        <div class="profile-widget d-flex justify-content-between align-items-center">
            <div class="avatar">
                <img src="https://placehold.co/150x150" class="img-fluid">
            </div>
            <div class="profile-info dropdown " data-bs-toggle="dropdown"  dropdown-toggle role="button">
                <span class="name">{{  app.user.username }} <i class="bi bi-caret-down-fill"></i></span>
                <span>Job Role</span>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ logout_path() }}">logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>   

<script>
document.querySelector('.menu-toggle').addEventListener("click",function(){
    document.querySelector('.body-wrapper').classList.toggle('nav-off');

});

</script>