<div class="sidebar">

    <div class="sidebar-wrapper">

        <div class="logo">
            <img src="https://d1io3yog0oux5.cloudfront.net/_114e7d3598fccd562eaf175af24810dc/nclhltd/files/theme/images/logo.svg" alt="NCLH logo" class="img-fluid">
        </div>

        <div class="navbar-left">
            <ul id="menu">
                <li>
                    <a href="/dashboard" class="active"><i class="bi bi-house"></i> Home</a>
                </li>
                <li>
                    <a href="/crew"><i class="bi bi-people"></i> Crew</a>
                </li>
                <li>
                    <a href="/nurse"><i class="bi bi-people"></i> Nurses</a>
                </li>
                <li>
                    <a href="/lab_technician"><i class="bi bi-people"></i> Lab Technician</a>
                </li>
                <li>
                    <a href="/physician"><i class="bi bi-people"></i> Physician</a>
                </li>
                <li>
                    <a href="/room"><i class="bi bi-door-closed"></i> Rooms</a>
                </li>
                <li>
                    <a href="/queue"><i class="bi bi-door-closed"></i> Room Queue</a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-clipboard-minus"></i> Reports</a>
                </li>
                <li>
                    <a href="#"><i class="bi bi-folder"></i> Records</a>
                </li>
                <li>
                    <a href="/branch"><i class="bi bi-folder"></i> Branch</a>
                </li>
                <li>
                    <a href="/appointment"><i class="bi bi-calendar"></i> Appointments</a>
                </li>
                <li>
                    <a href="/appointee"><i class="bi bi-calendar"></i> Appointee</a>
                </li>
            </ul>
        </div>
        
    </div>

</div>