{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block contents %}
    <div class="widget">
        <div class="widget-wrapper">
            <div class="widget-heading">
                <h1>Admin Dashboard</h1>
            </div>

            <div class="widget-body">
                <p>Hello there!</p>
            </div>
        </div>
    </div>
{% endblock %}
