{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block contents %}
    <h1>Dashboard</h1>
    This is the default Dashboard
    {#    include ALL Lab Technician related components here:#}

{% endblock %}
