{% extends 'base.html.twig' %}

{% block title %}Lab Technician Dashboard{% endblock %}

{% block contents %}
    <h1>Lab Technician Dashboard</h1>

    {#    include ALL Lab Technician related components here:#}

{% endblock %}
