{% extends 'base.html.twig' %}

{% block title %}Nurse Dashboard{% endblock %}

{% block contents %}
    <h1>Nurse Dashboard</h1>

    {#    include ALL Nurse related components here:#}

{% endblock %}
