{% extends 'base.html.twig' %}

{% block title %}Physician Dashboard{% endblock %}

{% block contents %}
    <div class="widget">
        <div class="widget-heading">
            <h1>Physician Dashboard</h1>
        </div>

        <div class="widget-body">
            <p>Hello there!</p>
        </div>
    </div>
{% endblock %}

