{% extends 'base.html.twig' %}

{% block title %}Physician Dashboard{% endblock %}

{% block contents %}
    <h1>Physician Dashboard</h1>

    {#    include ALL Physician related components here:#}

{% endblock %}
