{% extends 'base.html.twig' %}

{% block title %}Superadmin Dashboard{% endblock %}

{% block contents %}
    <h1>Superadmin Dashboard</h1>

    {#    include ALL available components here:#}

{% endblock %}
