{% extends 'base.html.twig' %}

{% block title %}Superadmin Dashboard{% endblock %}

{% block contents %}
    <h1>Superadmin Dashboard</h1>

    {% for a in print %}
        <p>{{ a }}</p>
    {% endfor %}
    {#    include ALL available components here:#}

{% endblock %}
